<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movierecommendation.mapper.MovieMapper">
    <select id="queryMovieList" resultType="Movie">
        select * from movie
    </select>
    <select id="queryUserByTitle" resultType="Movie">
        select * from movie where username=#{username}
    </select>

    <select id="queryUserByTypename" resultType="Movie">
        select * from movie where typename=#{typename}
    </select>

    <insert id="addMovie" parameterType="Movie">
        insert into movie (title,actor,img,score,typename) values(#{title},#{actor},#{img},#{score},#{typename})
    </insert>
    <update id="updateMovie" parameterType="Movie">
        update movie set img=#{img} where title=#{title}
    </update>
    <delete id="deleteMovie" parameterType="int">
        delete from movie where title=#{title}
    </delete>
</mapper>