<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shixun.dao.MovieDao">
    <select id="queryMovieList" resultType="Movie">
        select * from movie
    </select>

    <select id="queryUserByTitle" resultType="Movie">
        select * from movie where title=#{title}
    </select>

    <select id="queryUserByTitle2" resultType="Movie">
        select * FROM movie where title like concat(concat('%', #{text}), '%');
    </select>

    <select id="queryUserByType" resultType="Movie">
        select * from movie where type=#{type}
    </select>

    <insert id="addMovie" parameterType="Movie">
        insert into movie (title,actor,img,score,type) values(#{title},#{actor},#{img},#{score},#{type})
    </insert>
    <update id="updateMovie" parameterType="Movie">
        update movie set img=#{img} where title=#{title}
    </update>
    <delete id="deleteMovie" parameterType="int">
        delete from movie where title=#{title}
    </delete>
    <select id="recommandMovie" resultType="Movie">
        select * from movie,user where user.like_type=movie.type
    </select>
</mapper>